[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
wtforms = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
pymysql = {extras = ["rsa"],version = "*"}
flask-mail = "*"

[dev-packages]
httpie = "*"
ipython = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.6"
